{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }],
    "stage-3",
    "react",
    "flow"
  ],
  "plugins": [
    "react-hot-loader/babel",
    ["transform-class-properties", { "spec": true }]
  ]
}
